:root
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #121212;
}

body
{
    margin: 0;
    padding: 0;
}

.container
{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    max-width: 1200px;
    overflow: hidden;
}

.nav-responsive
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.content-container
{
    display: none;
}

ul
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

li
{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

}

@keyframes slideIn
{
    0%
    {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

.activo.menu-list
{
    position: static;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #a3b2f3;
    animation: slideIn 0.7s ease forwards;
}

button
{
    border-style: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
}

.btn-togle
{
    font-size: 25px;
    position: absolute;
    right: 1rem;
}

.btn-togle:hover
{
    transform: rotate(90deg);
    transition: 0.5s;
}

.hide-btn
{
    font-size: 22px;
    font-weight: bold;
    color: rgb(160, 25, 25);
}

.hide-btn:hover
{
    transform: rotate(180deg);
    transition: 0.5s;
}

@media (max-width: 680px)
{}