:root
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f1f2f3;
}

.container
{
    max-width: 1020px;
    margin: 0 auto;
}

.content
{
    background-color: #fff;
}

.content-tabs
{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #818385;
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 1rem;

}

li:hover
{
    cursor: pointer;
}

img
{
    width: 400px;
    height: 250px;
}

.active
{
    font-weight: bold;
    background-color: #fff;
}

#card
{
    margin: 1rem;
    text-align: center;
}